/* body{
    background-color: blue;
}
p{
    background-color: burlywood;
} */


pre {
    
    color: #660000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
   
}

#brown{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #660000;
    font-style: normal;
}

